.align-center{
    text-align: center;
}

.align-end{
    text-align: end;
}

.color-b{
    background-color: blueviolet;
}

.color-g{
    background-color: green;
}

.color-gy{
    background-color: greenyellow;
}

.color-black{
    background-color: black;
}